##Task
Load the wine dataset
Calculate the `median` of the `points` column from the dataset frame

In [16]:
import pandas as pd

In [17]:
# Load the data set.
wine_df = pd.read_csv('../data/winemag-data-130k-v2.csv')
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [18]:
#  Save in a variable called: `median_point`
median_points = wine_df.points.median()
print(f'Median points {median_points}')

Median points 88.0

In [19]:
# find which country are represented in the dataset
#store the values in `countries` = 
countries = wine_df.country.unique()
print(f'Countries in the set: {countries}')

Countries in the set: ['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

In [20]:
# find how often each country appears in the set
#store values in : reviews_per_country = 
review_per_country = wine_df.country.value_counts()
print(f'Count the reviews per country: {review_per_country}')

Count the reviews per country: country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [21]:
# Create series called:  centered_price
#that contains the price column with the mean price subtracted

centered_price = wine_df.price - wine_df.price.mean()
print(f'Centered price {centered_price}')

Centered price 0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [24]:
# Find bargain wine
# Create a variable called: bargain_wine with the title of the highest point-per-price ratio
wine_ratio = wine_df.points/wine_df.price
wine_ratio

0              NaN
1         5.800000
2         6.214286
3         6.692308
4         1.338462
            ...
129966    3.214286
129967    1.200000
129968    3.000000
129969    2.812500
129970    4.285714
Length: 129971, dtype: float64

In [28]:
bargain_wine = wine_df.loc[(wine_df.points/wine_df.price).idxmax(), 'title']

print(f'Points per price ratio {bargain_wine}')

Points per price ratio Bandit NV Merlot (California)

In [30]:
#TODO: Create a series called: descriptor_counts
#count how many times each word: 'fruity' and 'tropical' appear in the description column
fruity = wine_df.description.map(lambda desc: 'fruity' in desc).sum()
tropical = wine_df.description.map(lambda desc: 'tropical' in desc).sum()

# count them an return them as pd.Series (forced) #TODO transform data to include up and lower case
descriptor_counts = pd.Series([tropical, fruity], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

In [33]:
#TODO: Create a serie called star_rating
# With the number of starts corresponding to each review in the set
# Rating system ranges from 80-100 points
# A score of 95 or higher = 3 star
# 3 star  2916, 2 - 115000, 1 - 12000

def stars(row):
    if row.points >= 95:
        return 3
    elif row.points >=85:
        return 2
    else:
        return 1
    
ratings = wine_df.apply(stars, axis='columns')
ratings.value_counts()

2    115125
1     12430
3      2416
Name: count, dtype: int64