In [1]:
import pandas as pd
# load json
df_json_data = pd.read_json('../data/example-1.json')

In [2]:
#display
df_json_data

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [3]:
#convert df to json formatted string
json_format = df_json_data.to_json()
json_format

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'

# Working with CSV file
with Pandas use the `read_csv()` method

In [5]:
df_csv_format = pd.read_csv('../data/example-1.csv')
#display data
df_csv_format

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

In [9]:
# Read file with out header record
df_csv_format = pd.read_csv('../data/example-2.csv', header = None)
df_csv_format

          0          1      2
0  Branch A  January 1  500.0
1  Branch B  January 2  250.0
2  Branch A  January 3  300.0

In [ ]:
# Save data back to csv file
# if you don't need indexing, don't use header=none
df_csv_format.to_csv('test.csv')